<div lang="<%= case_locale %>" id="container">
</div>

<%=javascript_tag do %>
  window.postData = <%=
  raw ActiveModel::Serializer.for(
    @blog_posts
  )
    .to_json
  %>
<% end %>

<%=javascript_pack_tag "all_posts"%>

<%= content_for :head do %>

<% end %>
