<h1>Crop Photo</h1>

<%= image_tag @blog_post.cover_photo, id: "cropbox" %>

<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @blog_post.cover_photo, :id => "preview" %>
</div>

<%= semantic_form_for [:admin, @blog_post], builder: ActiveAdmin::FormBuilder do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>

<%= javascript_include_tag 'gyld_cropper'  %>
<script>
  $(function() {
    let aspectRatio = 0.76;
    new GyldCropper(aspectRatio);
  });
</script>
